<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
	Avec cette application, vous pouvez créer, modifier, et consulter des chapitres et des personnages. Pour l'utiliser, l'onglet Chapitres presente la liste des chapitres crées comportant chacun un nombre de scènes et d'anecdotes, qui peuvent être édités ou supprimés. 
	Pour chaque scène, l'auteur a la possibilité de choisir les personnages  qu'il souhaite y faire prendre part. Ces personnages peuvent être supprimés ou modifiés directement sur cette page ou dans l'onglet Personnages.
	Dans ce dernier, les personnages peuvent être crées indépendament des scènes auquelles ils appartiennent.
</p>
